PORT=3000
GOOGLE_SERVICE_ACCOUNT_EMAIL=sophie-adapter@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1abc...xyz
RETELL_API_KEY=key_...
CACHE_REFRESH_MS=300000
